// Specific CSS for your home-page
body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 255, 249, 1) 0%
  );
}
h1 {
  text-align: center;
  font-family: "Nunito", "Helvetica", "sans-serif";
}
.feedback {
  background-color: #888888;
  height: 60vh;
  margin: auto;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.feedback h3 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  text-align: center;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card {
  min-height: 350px;
}
.banner {
  opacity: 0.7;
}
.banner:hover {
  opacity: 0.95;
}
.container {
  text-align: center;
}
.container h1 {
  font-size: 44px;
}
.container .btn {
  border-radius: 5px 25px;
}
strong {
  color: black;
}
