// Specific CSS for your home-pa
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.categories-container {
    margin: 56px 0;
}

.products-container {
    margin: 56px 0;
}

.feedback {
    background-color: #888888;
    height: 60vh;
    margin: auto;
    font-family: "Nunito", "Helvetica", "sans-serif";
}

.feedback h3 {
    font-family: "Nunito", "Helvetica", "sans-serif";
    text-align: center;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 44px;
}

.container .btn {
    border-radius: 5px 25px;
}