<div>
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
<h3>Nom Prenom</h3><br>
<h3>Membre depuis le xx/xx/xxxx</h3>
<button type="button" class="btn btn-primary"><a href="items/new"></a>Deposer une annonce</button>
</div>
