
<div class="row featurette">
  <div class="col-md-4">
    <h3 class=" pt-5 mt-5 border-bottom border-danger pb-5 ">Bienvenue à let's sport.</h3>

    <p class="pt-3">Nous nous engageons à vous offrir le meilleur de produit sportifs, avec une attention particulière.</p>
  </div>
  <div class="col-md-4 pt-3">
    <h2 class="featurette-heading  pt-5 mt-5"> Le site de reference.<br/> Pour vos equipement sportifs.</h2>
  </div>
  <div class="col-md-4">
    <%= image_tag "about_us.jpg", class: "featurette-image mx-auto", style: "width: 500px; height: 390px;" %>
  </div>
</div>
