<h1 class = "mt-3"> <strong>OUR SPORTS</strong> </h1>


<div class="flex-container">
   <% @sports.each do |sport| %>
           <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <%= link_to sport_path(sport) do %>
                  <h2><%= sport.name.capitalize %> </h2>
              <% end %>
          </div>
   <% end %>
</div>
