<h1 class="mx-auto" style="width: 200px;">Categories</h1>
<div class="d-flex justify-content-between">
  <% @categories.each do |category| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%=  category.name %>
  </div>
  <% end %>
</div>
