<div class="banner" style="background-image:url(<%=image_path("hero.png")%>);">
  <div class="container">
    <h1><strong>Tout ce dont vous avez besoin pour performer</strong></h1>
    <h2><strong>Créé par les passionnés pour les passionnés
</strong></h2>
    <a class="btn btn-flat" href="<%= new_item_path %>">Dépose ton annonce</a>
  </div>
</div>
