<div class="banner" style="background-image:url(<%=image_path("hero.png")%>);">
  <div class="container">
    <h1><strong>Everything you need to be on top of your game</strong></h1>
    <p><strong>Change your life by playing sports</strong></p>
    <% unless user_signed_in? %>
    <%= link_to "Register now", new_user_registration_path, class:"btn btn-flat" %>
    <% end %>
  </div>
</div>
