<section class="container products-container">
  <div class="row">
      <div class="col-12">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= render "three_card_slider", products: @latest_football %>
                  </div>
                  <div class="carousel-item ">
                    <%= render "three_card_slider", products: @latest_tennis %>
                  </div>
                  <div class="carousel-item ">
                    <%= render "three_card_slider", products: @latest_golf %>
                  </div>
                  <div class="carousel-item ">
                    <%= render "three_card_slider", products: @latest_basketball %>
                  </div>
              </div>
                <button class="carousel-control-prev carousel-left-btn" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                  <i class="fa fa-arrow-left carousel-arrow"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next carousel-right-btn" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                  <i class="fa fa-arrow-right carousel-arrow"></i>
                  <span class="visually-hidden">Next</span>
                </button>
          </div>
      </div>
  </div>
</section>
