.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.20);
  margin-bottom: 16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link {
  border-radius: 20px;
  background-color: #ffffff;
  color: #FF1e00 !important;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #FF1e00;

  &:hover {
    background-color: #FF1e00;
    color: #ffffff !important;
    border: 1px solid #FF1e00;
  }
}

#login-btn a {
  border-radius: 20px;
  background-color: #ff1e00;
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #FFFFFF;

  &:hover {
    background-color: #ffffff;
    color: #FF1e00 !important;
    border: 1px solid #FF1e00;
  }
}

a.home-btn {
  border-radius: 20px;
  background-color: #ffffff;
  color: #FF1e00;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  border: 1px solid #FF1e00;

  &:hover {
    background-color: #FF1e00;
    color: #ffffff;
    border: 1px solid #FF1e00;
  }
}
