.navbar-lewagon {
    justify-content: space-between;
    background: rgb(236, 236, 236);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.50);
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 96px;
    height: 54px;
}

.nav-item .dropdown {
    cursor: pointer;
}