<div class="footer">
  <div class="footer-links pl-300px">
  <p>Copyright © 2022 LETSSPORTSSHOP. All Rights Reserved</p>
  </div>
  <div class="footerx">
    Email : contact@letssportsshop.com <br>
Télephone    : 05 23 44 62 35
  </div>
</div>
