<div class="footer">
  <div class="footer-links pl-300px">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footerx">
    Email : contact@letssportsshop.com <br>
Telephone    : 650-285-2102
  </div>
</div>
